input {
    background-color: #fafafa;
    border: 1px solid #dbdbdb;
    box-sizing: border-box;
    flex: 1 0 auto;
    font: 12px 'Open Sans', sans-serif;
    outline: none;
    overflow: hidden;
    padding: 9px 0 7px 8px;
    text-overflow: ellipsis;
    width: 100%;
}