@use "../../common/style/utils.scss";

button {
    background-color: utils.$button-blue;
    border: 0;
    border-radius: 7px;
    color: #fff;
    font: 14px 'Open Sans', sans-serif;
    font-weight: 600;
    padding: 7px 0;
    width: 100%;
    &:hover {
        background-color: utils.$button-blue-hover;
        cursor: pointer;
    }
    &.block {
        display: block;
    }

    &.inlineBlock {
        display: inline-block;
    }
}