footer {
  margin: 100px 0 30px 0;
  text-align: center;

  p,
  a,
  select {
    color: #737373;
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
  }

  nav {
    margin-bottom: 15px;

    ul {
      li {
        display: inline-block;

        a {
          padding: 0 8px;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }

  .copyright {
    align-items: baseline;
    display: flex;
    justify-content: center;
    gap: 15px;

    select {
      border: 0;
      color: #737373;
      font-size: 12px;
      outline: none;
      max-width: 120px;
      &:hover {
        cursor: pointer;
      } 
    }
  }
}
