@import './common/style/utils/fonts.scss';

body {
  box-sizing: border-box;
  font-family: "system-ui";
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
span {
  font-family: "system-ui";

}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
